# Ignore node_modules directory
node_modules/

# Ignore built files
dist/
build/
public/bundle.js
public/bundle.js.map

# Ignore environment files
.env

# Ignore logs and other temporary files
*.log
*.pid
*.swp